.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-direction: row;
  flex-wrap: wrap;
}



.Detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Detail button {
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: crimson;
  cursor: pointer;
}
